/.DS_Store
/UGC_Comp_Dec2023.pdf
/UGC_Comp_Dec2024.pdf
/UGC_Comp_June2023.pdf
/UGC_Comp_June2024_Cancelled.pdf
/UGC_Comp_June2024_ReExam.pdf
/UGC_Comp_June2025.pdf
/UGC_NET_Computer_Science_Analysis.md
/UGC_NET_Computer_Science_Subjectwise_Analysis.md